<div id="countryData">
  <p>Download interview data for:</p>
  <ul>
    <% countries.each do |country| %>
      <li><a href="/country_data/<%= country[:code] %>"><%= country[:name] %></li></a>
    <% end %>
  </ul>
</div>

<div id="pollList">
  <p>View Doodle Poll</p>
  <ul>
    <% polls.sort_by! { |p| p[:title] }.each do |poll| %>
      <li><a href="http://doodle.com/<%= poll[:id] %>"><%= poll[:title] %></a></li>
    <% end %>
  </ul>
</div>
