<html>
  <head>
    <title>GHCorps Applications</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
